<form>

  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control form-control-sm" id="exampleInputPassword1"
                   placeholder="Password">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-3">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
    </div>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
