<form id="collapseInputForm" [formGroup]="entryForm">


  <div class="card" style="padding: 0%">
    <div class="card-body">
      <div class="row" style="padding: 0%">

        <div class="col-sm-2" style="padding-left: 0%">
          <div class="form-group required">
            <div class="col-sm-12">
              <label for="store" class="control-label lb-sm">Store:</label>
              <ng-select [items]="storeModelList"
                         id="store"
                         bindLabel="name"
                         name="store"
                         bindValue="id"
                         required
                         [attr.disabled]="disableElementOnDetailsView"
                         name="store"
                         (change)="onChangeVendor($event)"
                         [ngModel]="storeInProductsModel.storeId"
                         [ngClass]="{ 'custom-invalid-ng-select': submitted && entryForm.controls['store'].hasError('required'), 'avoid-clicks': disableElementOnDetailsView }"
                         formControlName="store"
                         placeholder="Select Store">
              </ng-select>
              <div *ngIf="submitted && entryForm.controls['store'].hasError('required')"
                   class="custom-invalid-feedback">
                Select a Store
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-2" style="padding-left: 0%">
          <div class="form-group required">
            <div class="col-sm-12">
              <label for="vendor" class="control-label lb-sm">Vendor:</label>
              <ng-select [items]="vendorModelList"
                         id="vendor"
                         name="vendor"
                         bindLabel="name"
                         bindValue="id"
                         required
                         [attr.disabled]="disableElementOnDetailsView"
                         name="store"
                         (change)="onChangeVendor($event)"
                         [ngModel]="storeInProductsModel.vendorId"
                         [ngClass]="{ 'custom-invalid-ng-select': submitted && entryForm.controls['vendor'].hasError('required'), 'avoid-clicks': disableElementOnDetailsView }"
                         formControlName="vendor"
                         placeholder="Select Vendor">
              </ng-select>
              <div *ngIf="submitted && entryForm.controls['vendor'].hasError('required')"
                   class="custom-invalid-feedback">
                Select a Vendor
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-2" style="padding-left: 0%">
          <div class="form-group required">
            <div class="col-sm-12">
              <label for="barcode" class="control-label lb-sm">Product barcode:</label>

              <input class="form-control"
                     type="text"
                     id="barcode"
                     name="barcode"
                     formControlName="barcode"
                     placeholder="Barcode">

              <div *ngIf="formSubmitted && entryForm.controls['barcode'].hasError('required')"class="custom-invalid-feedback">
                Brand name required
              </div>
              <span *ngIf="entryForm.controls['barcode'].hasError('maxlength') " class="custom-invalid-feedback">
                Maximum character for barcode is 20
              </span>
            </div>
          </div>
        </div>

        <div class="col-sm-2" style="padding-left: 0%">
          <div class="form-group required">
            <div class="col-sm-12">
              <label for="price" class="control-label lb-sm">Price</label>

              <input class="form-control"
                     type="text"
                     id="price"
                     name="price"
                     formControlName="price"
                     placeholder="Unit Price">

              <div *ngIf="submitted && entryForm.controls['price'].hasError('required')" class="custom-invalid-feedback">
                Enter Price for this product
              </div>
              <span *ngIf="entryForm.controls['price'].hasError('max') " class="custom-invalid-feedback">
                Maximum value can be entered 1000000000
              </span>
            </div>
          </div>
        </div>

        <div class="col-sm-2" style="padding-left: 0%">
          <div class="form-group required">
            <div class="col-sm-12">
              <label for="quantity" class="control-label lb-sm">Quantity</label>

              <input class="form-control"
                     type="text"
                     id="quantity"
                     name="quantity"
                     formControlName="quantity"
                     placeholder="Total Quantity">

              <div *ngIf="submitted && entryForm.controls['quantity'].hasError('required')" class="custom-invalid-feedback">
                Enter Total price
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-2" style="padding-left: 0%">
          <div class="form-group required">
            <div class="col-sm-12">
              <label for="total" class="control-label lb-sm">Total</label>

              <input class="form-control"
                     type="text"
                     id="total"
                     name="total"
                     formControlName="total"
                     placeholder="Total Price">

              <div *ngIf="submitted && entryForm.controls['total'].hasError('required')" class="custom-invalid-feedback">
                Enter Total price
              </div>
            </div>
          </div>
        </div>




      </div>

      <div class="row" style="padding: 0%; margin: 0%">


        <div class="col-sm-11" style="padding: 0%"></div>

            <div class="col-sm-1 text-right">
              <button type="button"
                      name="addProduct"
                      id="addProduct"
                      class="btn btn-primary btn-sm">Add</button>

            </div>

      </div>


    </div>
  </div>

<div class="card" style="margin-top: 1%">
  <div class="card-header">
    <strong> Added products</strong>
  </div>
  <div class="card-body">



  <table class="table table-sm table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
    </tbody>
  </table>


  </div>
</div>







  <div class="row">
    <div class="col-sm-3">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
    </div>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
