<form id="collapseInputForm"  [formGroup]="entryForm">

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div class="form-group required">
            <div class="col-sm-12">
              <label for="store" class="control-label">Store:</label>
              <ng-select [items]="storeModelList"
                         id="store"
                         bindLabel="name"
                         bindValue="id"
                         required
                         [attr.disabled]="disableElementOnDetailsView"
                         name="store"
                         (change)="onChangeVendor($event)"
                         [ngModel]="storeInProductsModel.storeId"
                         [ngClass]="{ 'custom-invalid-ng-select': submitted && entryForm.controls['store'].hasError('required'), 'avoid-clicks': disableElementOnDetailsView }"
                         formControlName="store"
                         placeholder="Select Store">
              </ng-select>
              <div *ngIf="submitted && entryForm.controls['store'].hasError('required')" class="custom-invalid-feedback">
                Select a Store
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>


  <div class="row">
    <div class="col-sm-3">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
    </div>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
