<!--<div [@routerTransition]>-->
<button class="btn btn-primary"
        type="button"
        [disabled]="isPageUpdateState"
        id="addCategoryBtn"
        data-toggle="collapse"
        data-target="#collapseCategoryForm"
        aria-expanded="false"
        aria-controls="collapseCategoryForm">
  {{isPageUpdateState==true?'Update ':'Add '}}Category
</button>

<div style="margin-top: 1%" [hidden]="hideCategoryInputForm">
  <form class="collapse"
        id="collapseCategoryForm"
        data-toggle="collapse"
        name="categoryForm"
        [formGroup]="categoryForm">

    <div class="col-sm-6" style="padding-left: 0%;">
      <div class="card">
        <div class="card-header text-center">
          <strong> Category</strong>
        </div>
        <div class="card-body">
          <div class="form-group required row">
            <label for="name" class="col-sm-4 required-label">Name:</label>
            <div class="col-sm-8">
              <input
                id="name"
                class="form-control"
                name="name"
                autocomplete="off"
                [attr.disabled]="disableElementOnDetailsView?'':null"
                type="text"
                [(ngModel)]="categoryModel.name"
                formControlName="name"
                [ngClass]="{ 'is-invalid': submitted && categoryForm.controls['name'].hasError('required') }">

              <div *ngIf="submitted && categoryForm.controls['name'].hasError('required')" class="custom-invalid-feedback">
                <div *ngIf="f.name.errors.required">Category name required</div>
              </div>
              <span *ngIf="categoryForm.controls['name'].hasError('maxlength') " class="custom-invalid-feedback">
                Max character for Name is 20
              </span>
            </div>

          </div>
          <div class="form-group row">
            <label for="description" class="col-sm-4">Description:</label>
            <div class="col-sm-8">
              <textarea
                name="description"
                [attr.disabled]="disableElementOnDetailsView?'':null"
                [(ngModel)]="categoryModel.description"
                formControlName="description"
                class="form-control rounded-0"
                id="description"></textarea>
              <span *ngIf="categoryForm.controls['description'].hasError('maxlength') " class="custom-invalid-feedback">
                Max character for Description is 100
              </span>
            </div>
          </div>


        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-12">

              <button *ngIf="!disableElementOnDetailsView"
                      type="button"
                      (click)="onSubmit()"
                      class="btn btn-success">
                {{isPageUpdateState==true?'Update ':'Save '}}
              </button>


              <button *ngIf="!disableElementOnDetailsView"
                      type="button"
                      style="margin-left: 1%"
                      (click)="onClickReset()"
                      class="btn btn-danger">
                Reset
              </button>


              <button type="button"
                      (click)="onClickCancel()"
                      class="btn btn-danger pull-right">
                Cancel
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!--<div [hidden]="categoryModelList.length==0" class="">-->
<div class="">

  <div class="card" style="margin-top: 1%">
    <div class="card-header">
      <strong>Category List</strong>
    </div>
    <div class="card-body">
      <table datatable [dtOptions]="dtOptions" class="table-hover table table-sm table-striped table-bordered nowrap"
             style="width: 100%">
        <thead>
        <tr>
          <!-- <th>ID</th>-->
          <th style="width: 10%">Category Name</th>
          <th style="width: 80%">Description</th>
          <th style="width: 10%">Action</th>
        </tr>
        </thead>
        <tbody *ngIf="categoryModelList?.length != 0">
        <tr *ngFor="let category of categoryModelList">
          <!-- <td>{{ category.id }}</td>-->
          <td>{{ category.name }}</td>
          <td class="ellipsis">{{ category.description }}</td>
          <td>
            <button type="button" class="btn btn-secondary" (click)="onClickEdit(category.id)" style="margin-left: 1%">
              Edit
            </button>

            <button type="button" class="btn btn-info" (click)="onClickDetails(category.id)" style="margin-left: 1%">
              Details
            </button>

            <button type="button" class="btn btn-danger" (click)="onClickDelete(category.id)" style="margin-left: 1%">
              Delete
            </button>

          </td>


        </tr>
        </tbody>
        <tbody *ngIf="categoryModelList?.length == 0">
        <tr>
          <td colspan="3" class="no-data-available">No data!</td>
        </tr>
        <tbody>
      </table>


    </div>
    <div class="">

    </div>
  </div>

</div>
<!--
</div>
-->

<ngx-smart-modal #deleteConfirmationModal
                 identifier="deleteConfirmationModal"
                 [closable]="false">
  <div class="modal-header">
    <h5 class="modal-title">Delete Confirmation</h5>
    <button type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close" (click)="deleteConfirmationModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--<h6>NgxSmartModal doesn't interfere with any CSS framework</h6>-->
    <!--<img src="https://lorempicsum.com/futurama/1000/400/6" class="img-fluid rounded" alt="Responsive image">-->
    <h6>
      <p class="py-3">You are about delete category {{categoryModel.name}} !!!</p></h6>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onClickDeleteOfModal(categoryModel.id)">Delete</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="deleteConfirmationModal.close()">Close
    </button>
  </div>
</ngx-smart-modal>
