<!--<div [@routerTransition]>-->


<button class="btn btn-primary"
        type="button"
        id="createCategory"
        data-toggle="collapse"
        data-target="#collapseCategoryForm"
        aria-expanded="false"
        aria-controls="collapseCategoryForm">
  Add New Category
</button>

<div style="margin-top: 1%">
  <form class="collapse" id="collapseCategoryForm" name="form" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <div class="col-sm-6" style="padding-left: 0%;">
      <div class="card">
        <div class="card-header text-center">
          <strong> Category</strong>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label for="name" class="col-sm-2">Name</label>
            <div class="col-sm-10">
              <input
                id="name"
                class="form-control"
                name="name"
                type="text"
                [(ngModel)]="categoryModel.name"
                formControlName="name"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            </div>
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Category name required</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="description" class="col-sm-2">Description</label>
            <div class="col-sm-10">
              <textarea
                name="description"
                [(ngModel)]="categoryModel.description"
                formControlName="description"
                class="form-control rounded-0"
                id="description"></textarea>
            </div>
          </div>


        </div>
        <div class="card-footer">
          <div class="form-group">
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="">
  <div class="card" style="margin-top: 1%">
    <div class="card-header">
      <strong>Category List</strong>
    </div>
    <div class="card-body">
      <table datatable [dtOptions]="dtOptions" class="table-hover table table-sm table-striped table-bordered nowrap"
             style="width: 100%">
        <thead>
        <tr>
          <!-- <th>ID</th>-->
          <th style="width: 10%">Category Name</th>
          <th style="width: 20%">Description</th>
          <th style="width: 5%">Action</th>
        </tr>
        </thead>
        <tbody *ngIf="categoryModelList?.length != 0">
        <tr *ngFor="let category of categoryModelList">
          <!-- <td>{{ category.id }}</td>-->
          <td>{{ category.name }}</td>
          <td>{{ category.description }}</td>
          <td style="padding-left: 3%">
            <button type="button" class="btn btn-secondary" (click)="onClickEdit(category.id)" style="margin-right: 5%">
              Edit
            </button>
            <button type="button" class="btn btn-danger" (click)="onClickDelete(category.id)">Delete</button>

          </td>


        </tr>
        </tbody>
        <tbody *ngIf="category?.length == 0">
        <tr>
          <td colspan="3" class="no-data-available">No data!</td>
        </tr>
        <tbody>
      </table>


    </div>
    <div class="">

    </div>
  </div>

</div>
<!--
</div>
-->
