<form id="collapseInputForm" [formGroup]="entryForm">

  <div class="card" style="padding: 0">

    <div class="card-header">
      <strong>Select Products for Sales</strong>
    </div>

    <div class="card-body" style="height: 305px">

      <div class="row" style="padding: 0">

        <div class="col-sm-3" style="padding-left: 0">
          <div class="form-group required">
            <div class="col-sm-12">
              <label for="store" class="required-label lb-sm">Store:</label>
              <ng-select [items]="storeModelList"
                         #storeDropDown
                         id="store"
                         bindLabel="name"
                         bindValue="id"
                         (change)="onChangeStore($event)"
                         (clear)="onClearStore()"
                         [(ngModel)]="productSalesViewModel.storeId"
                         formControlName="store"
                         placeholder="Select Store">
              </ng-select>
              <div *ngIf="entryForm.controls['store']?.hasError('required')"
                   class="custom-invalid-feedback">
                Select a Store
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4" style="padding-left: 0">
          <div class="form-group">
            <div class="col-sm-12">
              <label for="store" class="lb-sm">Product:</label>
              <ng-select [items]="dropDownModelList"
                         #productList
                         id="product"
                         name="product"
                         bindLabel="name"
                         [ngClass]="{ 'avoid-clicks': !isStoreSelected}"
                         bindValue="id"
                         (change)="onChangeProduct($event)"
                         (clear)="onClearProduct()"
                         [(ngModel)]="productSalesViewModel.productId"
                         formControlName="product"
                         placeholder="Select Product">
              </ng-select>
            </div>
          </div>
        </div>

        <div class="col-sm-2" style="padding-left: 0">
          <div class="form-group">
            <div class="col-sm-12">
              <label for="barcode" class="lb-sm">Barcode:</label>

              <input class="form-control"
                     #barcode
                     type="text"
                     id="barcode"
                     [attr.disabled]="isDisableBarcodeInput()?'':null"
                     (focus)="onFocusBarcode()"
                     (change)="onChangeBarcode(productSalesViewModel.barcode,$event)"
                     formControlName="barcode"
                     autocomplete="off"
                     name="barcode"
                     [(ngModel)]="productSalesViewModel.barcode">
              <span *ngIf="entryForm.controls['barcode'].hasError('maxlength') " class="custom-invalid-feedback">
                Maximum character for barcode is 20
              </span>
            </div>
          </div>
        </div>

        <div class="col-sm-3" style="padding-left: 0">
          <div class="form-group">
            <div class="col-sm-12">
              <label for="customer" class="lb-sm">Customer:</label>
              <ng-select [items]="customerModelList"
                         #customerDropDown
                         id="customer"
                         bindLabel="name"
                         bindValue="id"
                         (change)="onChangeCustomer($event,productSalesViewModel.customerId)"
                         (clear)="onClearCustomer()"
                         [(ngModel)]="productSalesViewModel.customerId"
                         formControlName="customer"
                         placeholder="Select Customer">
              </ng-select>
            </div>
          </div>
        </div>

      </div>


      <div class="row">

        <div class="col-sm-10" style="padding-left: 0%;">
          <div class="form-group required row">
            <label for="customerName" class="col-sm-3 required-label">Customer Name:</label>
            <div class="col-sm-6">
              <input
                id="customerName"
                class="form-control form-control-sm"
                name="customerName"
                [attr.disabled]="isCustomerSelected?'':null"
                [required]="!isCustomerSelected"
                autocomplete="off"
                type="text"
                [(ngModel)]="customerModel.name"
                formControlName="customerName">
              <div *ngIf="formSubmitted && entryForm.controls['customerName'].hasError('required')"
                   class="custom-invalid-feedback">
                Customer name required
              </div>
              <span *ngIf="formSubmitted && entryForm.controls['customerName'].hasError('maxlength') "
                    class="custom-invalid-feedback">
                  Maximum character for Customer Name is 50
                </span>
            </div>
          </div>

          <div class="form-group required row">
            <label for="customerPhoneNo" class="col-sm-3 required-label">Phone No:</label>
            <div class="col-sm-6">
              <input
                id="customerPhoneNo"
                class="form-control form-control-sm"
                name="customerPhoneNo"
                [attr.disabled]="isCustomerSelected?'':null"
                [required]="!isCustomerSelected"
                autocomplete="off"
                type="text"
                [(ngModel)]="customerModel.phoneNo1"
                formControlName="customerPhoneNo">

              <div *ngIf="formSubmitted && entryForm.controls['customerPhoneNo'].hasError('required')"
                   class="custom-invalid-feedback">
                Customer Phone No required
              </div>
              <span *ngIf="formSubmitted && entryForm.controls['customerPhoneNo'].hasError('maxlength') "
                    class="custom-invalid-feedback">
                Maximum character for phone no1 is 20
              </span>
            </div>
          </div>

          <div class="form-group row">
            <label for="customerAddress" class="col-sm-3">Address:</label>
            <div class="col-sm-6">
              <textarea
                name="customerAddress"
                [attr.disabled]="isCustomerSelected?'':null"
                [(ngModel)]="customerModel.address"
                formControlName="customerAddress"
                class="form-control rounded-0 form-control-sm"
                id="customerAddress"></textarea>
              <span *ngIf="entryForm.controls['customerAddress'].hasError('maxlength') "
                    class="custom-invalid-feedback">
                Maximum character for Address is 200
              </span>
              <!--
              <span *ngIf="entryForm.controls['address'].hasError('pattern') " class="custom-invalid-feedback">
                Allowed character a-z A-Z 0-9 . _ - \ /
              </span>
              -->

            </div>
          </div>
        </div>

        <div class="col-sm-2" style="padding-left: 0%;">
          <ui-switch
            name="showBuyPrice"
            formControlName="showBuyPrice"
            [(ngModel)]="showBuyPrice">
          </ui-switch>
        </div>
      </div>

    </div>

    <!--<div class="card-footer">

    </div>-->


  </div>

</form>

<!--
<div class="card" style="margin-top: 1%"
     *ngIf="(selectedProductListForSales?.length==0) && (isStoreSelected && isProductSelected)">
  <div class="card-body">
    <div class="header">
      <strong>No Product available for Sales for this store !!!</strong>
    </div>
  </div>
</div>
-->


<div class="card" style="margin-top: 1%" [hidden]="selectedProductListForSales?.length==0">
  <form #dynamicForm="ngForm" novalidate autocomplete="off">

    <div class="card-header">

      <strong>Invoice No:&nbsp; {{productSalesViewModel.invoiceNo}}</strong>

    </div>
    <div class="card-body custom-scroll-x-y">
      <table class="table-hover table table-sm table-striped table-bordered nowrap"
             style="width: 100%">
        <thead>
        <tr>
          <th style="width: 10%">Name</th>
          <th style="width: 8%">Category</th>
          <!-- <th style="width: 5%">Brand</th>-->
          <th style="width: 5%">Model No</th>
          <th style="width: 4%">Stock Qty</th>
          <th *ngIf="showBuyPrice" style="width: 5%">Buy Price</th>
          <th style="width: 8%">Sales Price</th>
          <th style="width: 5%">Sales Qty</th>
          <th style="width: 5%">Discount%</th>
          <th style="width: 8%">Total</th>
          <th style="width: 5%">Serial No</th>
          <th style="width: 5%">Support Period</th>
          <th style="width: 5%">Action</th>
        </thead>
        <tbody *ngIf="selectedProductListForSales?.length != 0">
        <tr *ngFor="let product of selectedProductListForSales; let i=index">
          <td>{{product.productName }}</td>
          <td>{{product.categoryName}}</td>
          <!--  <td>{{product.brandName }}</td>-->
          <td>{{product.modelNo }}</td>
          <td>{{product.available}}</td>
          <td *ngIf="showBuyPrice">{{product.buyPrice }}</td>
          <td>

            <input class="form-control form-control-sm"
                   type="text"
                   maxlength="20"
                   pattern="^(\d*\.)?\d+$"
                   (focusout)="onFocusOutSalesPriceRowEvent(i,product.salesPrice)"
                   onkeypress="return (event.charCode > 31) && (event.charCode >= 48 && event.charCode <= 57)
                    || event.charCode==46"
                   #dynamicSalesPrice="ngModel"
                   [required]="product.required"
                   autocomplete="off"
                   [ngClass]="{ 'is-invalid': dynamicSalesPrice.errors?.required || dynamicSalesPrice.errors?.pattern}"
                   id="dynamicSalesPrice{{i}}"
                   name="salesPrice{{i}}"
                   [(ngModel)]="product.salesPrice">
          </td>

          <td>
            <input class="form-control form-control-sm"
                   type="text"
                   maxlength="8"
                   pattern="^((?!(0))[0-9]{1,10})$"
                   (focusout)="onFocusOutSalesQtyRowEvent(i,product.salesQty)"
                   onkeypress="return (event.charCode > 31) && (event.charCode >= 48 && event.charCode <= 57)"
                   #dynamicSalesQty="ngModel"
                   [required]="product.required"
                   autocomplete="off"
                   [ngClass]="{ 'is-invalid': dynamicSalesPrice.errors?.required || dynamicSalesQty.errors?.pattern}"
                   id="dynamicSalesQty{{i}}"
                   name="dynamicSalesQty{{i}}"
                   [(ngModel)]="product.salesQty">
          </td>


          <td>
            <input class="form-control form-control-sm"
                   type="text"
                   maxlength="3"
                   (focusout)="onFocusOutDiscountRowEvent(i)"
                   onkeypress="return (event.charCode > 31) && (event.charCode >= 48 && event.charCode <= 57)"
                   #discount="ngModel"
                   autocomplete="off"
                   id="dynamicDiscount{{i}}"
                   name="dynamicDiscount{{i}}"
                   [(ngModel)]="product.discount">
          </td>

          <td>
            <input class="form-control form-control-sm"
                   type="text"
                   maxlength="8"
                   disabled
                   #dynamicTotalPrice="ngModel"
                   autocomplete="off"
                   [ngClass]="{ 'is-invalid': dynamicTotalPrice.errors?.pattern}"
                   id="dynamicTotalPrice{{i}}"
                   name="dynamicTotalPrice{{i}}"
                   [(ngModel)]="product.totalPrice">
          </td>

          <td>
            <input class="form-control form-control-sm"
                   type="text"
                   maxlength="20"
                   #dynamicSerialNo="ngModel"
                   autocomplete="off"
                   id="dynamicSerialNo{{i}}"
                   name="dynamicSerialNo{{i}}"
                   [(ngModel)]="product.serialNo">
          </td>


          <td>
            <input class="form-control form-control-sm"
                   type="text"
                   maxlength="2"
                   pattern="^((?!(0))[0-9]{1,10})$"
                   onkeypress="return (event.charCode > 31) && (event.charCode >= 48 && event.charCode <= 57)"
                   #dynamicSupportPeriod="ngModel"
                   autocomplete="off"
                   [ngClass]="{ 'is-invalid': dynamicSupportPeriod.errors?.pattern}"
                   id="dynamicSupportPeriod{{i}}"
                   name="dynamicSupportPeriod{{i}}"
                   [(ngModel)]="product.supportPeriodInMonth">
          </td>

          <td class="align-baseline">

            <!--   <div class="row" style="margin-right: 0px;">-->

            <!-- <div class="col-sm-4">
               <button
                 placement="top"
                 class="btn btn-sm btn-pill btn-outline-info"
                 type="button">
                 <i class="fa fa-pencil-square"></i>
               </button>
             </div>-->


            <!--<div class="col-sm-6 text-sm-center">-->
            <button
              placement="top"
              (click)="onClickRemoveRow(i)"
              class="btn btn-sm btn-pill btn-outline-info"
              type="button">
              <i class="fa fa-minus-square"></i>
            </button>
            <!--</div>-->
            <!--</div>-->
          </td>


        </tr>
        </tbody>
        <tbody *ngIf="grandTotalSalesPrice!=0">
        <tr>

          <td *ngIf="showBuyPrice" colspan="8"></td>
          <td *ngIf="!showBuyPrice" colspan="7"></td>

          <td colspan="2">{{grandTotalSalesPrice}}</td>
        </tr>
        </tbody>

        <tbody *ngIf="selectedProductListForSales?.length == 0">
        <tr>
          <td colspan="12" class="no-data-available">No data!</td>
        </tr>
        <tbody>

        <tbody>
        <tr>

          <td *ngIf="showBuyPrice" colspan="8"></td>
          <td *ngIf="!showBuyPrice" colspan="7"></td>

          <td colspan="2">
            <div class="form-group">

              <label for="paidAmount" class="lb-sm">Paid Amount:</label>
              <!-- pattern="^((?!(0))[0-9]{1,10})$"-->
              <input class="form-control"
                     #paidAmount
                     maxlength="8"
                     pattern="^(\d*\.)?\d+$"
                     (focusout)="onFocusOutPaidAmount(productSalesViewModel.paidAmount)"
                     onkeypress="return (event.charCode > 31) && (event.charCode >= 48 && event.charCode <= 57)
                     || event.charCode==46"
                     type="text"
                     [ngClass]="{ 'is-invalid': paidAmount.errors?.required || paidAmount.errors?.pattern}"
                     required
                     id="paidAmount"
                     [attr.disabled]="grandTotalSalesPrice==0?'':null"
                     autocomplete="off"
                     name="paidAmount"
                     [(ngModel)]="productSalesViewModel.paidAmount">
            </div>
          </td>
          <td colspan="2">
            <div class="form-group">

              <label for="dueAmount" class="lb-sm">Due Amount:</label>
              <input class="form-control"
                     #dueAmount
                     type="text"
                     disabled
                     id="dueAmount"
                     name="dueAmount"
                     [ngModel]="productSalesViewModel.dueAmount">

            </div>

          </td>
        </tr>

        <tr>

          <td *ngIf="showBuyPrice" colspan="8"></td>
          <td *ngIf="!showBuyPrice" colspan="7"></td>

          <td colspan="2">
            <div class="form-group">

              <label for="discountAmount" class="lb-sm">Discount Amount:</label>
              <!-- pattern="^((?!(0))[0-9]{1,10})$"-->
              <input class="form-control"
                     #discountAmount
                     id="discountAmount"
                     maxlength="8"
                     pattern="^(\d*\.)?\d+$"
                     (focusout)="onFocusOutInvoiceDiscountAmount(productSalesViewModel.discountAmount)"
                     onkeypress="return (event.charCode > 31) && (event.charCode >= 48 && event.charCode <= 57)
                     || event.charCode==46"
                     type="text"
                     [attr.disabled]="grandTotalSalesPrice==0?'':null"
                     autocomplete="off"
                     name="discountAmount"
                     [(ngModel)]="productSalesViewModel.discountAmount">
            </div>
          </td>
          <td colspan="2">
            <div class="form-group">

              <label for="saveAmount" class="lb-sm">Save Amount:</label>
              <input class="form-control"
                     #saveAmount
                     type="text"
                     disabled
                     id="saveAmount"
                     name="saveAmount"
                     [ngModel]="productSalesViewModel.saveAmount">

            </div>

          </td>
        </tr>
        </tbody>


      </table>

    </div>

    <div class="card-footer">
      <div class="row">
        <div class="col-sm-12">

          <button
            type="button"
            (click)="onClickSave(dynamicForm)"
            class="btn btn-sm btn-success pull-right">
            Confirm Sales
          </button>

          <button
            type="button"
            style="margin-right: 1%"
            (click)="onClickReset()"
            class="btn btn-sm btn-danger pull-right">
            Reset
          </button>
        </div>

      </div>
    </div>

  </form>
</div>

<save-confirmation-modal
  [header]="modalHeader"
  [body]="modalBodyText"
  (isConfirm)="onClickSaveConfirmationOfModal($event)">
</save-confirmation-modal>
