<form id="collapseInputForm" [formGroup]="entryForm">

  <div class="card" style="padding: 0">

    <div class="card-header">
      <div *ngIf="!productAdded">
        Select Product
      </div>

      <div *ngIf="productAdded">
        Selected Product: <strong>{{storeInProductViewModel.productName}}</strong>
      </div>

    </div>
    <div class="card-body">
      <div class="row" style="padding: 0">

        <div class="col-sm-2" style="padding-left: 0">
          <div class="form-group required">
            <div class="col-sm-12">
              <label for="store" class="required-label lb-sm">Store:</label>
              <ng-select [items]="storeModelList"
                         #storeDropDown
                         id="store"
                         bindLabel="name"
                         bindValue="id"
                         (change)="onChangeStore($event, storeSalesProductViewModel.storeId)"
                         (clear)="onClearStore()"
                         [(ngModel)]="storeSalesProductViewModel.storeId"
                         [ngClass]="{ 'custom-invalid-ng-select': productAdded && entryForm.controls['store'].hasError('required') }"
                         formControlName="store"
                         placeholder="Select Store">
              </ng-select>
              <div *ngIf="productAdded && entryForm.controls['store'].hasError('required')"
                   class="custom-invalid-feedback">
                Select Store
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-2" style="padding-left: 0">
          <div class="form-group required">
            <div class="col-sm-12">
              <label for="customer" class="required-label lb-sm">Customer:</label>
              <ng-select [items]="customerModelList"
                         #customerDropDown
                         id="customer"
                         bindLabel="name"
                         bindValue="id"
                         (change)="onChangeCustomer($event,storeSalesProductViewModel.customerId)"
                         (clear)="onClearCustomer()"
                         [(ngModel)]="storeSalesProductViewModel.customerId"
                         [ngClass]="{'custom-invalid-ng-select': productAdded && entryForm.controls['customer'].hasError('required')}"
                         formControlName="customer"
                         placeholder="Select Customer">
              </ng-select>
              <div *ngIf="productAdded && entryForm.controls['customer'].hasError('required')"
                   class="custom-invalid-feedback">
                Select Customer
              </div>
            </div>
          </div>
        </div>

        <!--

        <div class="col-sm-2" style="padding-left: 0">
          <div class="form-group required">
            <label class="required-label lb-sm">Product:</label>

            <div class="input-group mb-3">

              <input type="text" class="form-control">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">...</button>
              </div>

            </div>
            <div *ngIf="productAdded && entryForm.controls['product'].hasError('required')"
                 class="custom-invalid-feedback">
              Select Product
            </div>
          </div>
        </div>

        -->

        <div class="col-sm-2" style="padding-left: 0">
          <div class="form-group">
            <div class="col-sm-12">
              <label for="barcode" class="lb-sm">Barcode:</label>

              <input class="form-control"
                     #barcode
                     type="text"
                     id="barcode"
                     [attr.disabled]="isDisableBarcodeInput()?'':null"
                     (change)="onChangeBarcode(storeSalesProductViewModel.barcode,$event)"
                     formControlName="barcode"
                     autocomplete="off"
                     name="barcode"
                     [(ngModel)]="storeSalesProductViewModel.barcode">
              <span *ngIf="entryForm.controls['barcode'].hasError('maxlength') " class="custom-invalid-feedback">
                Maximum character for barcode is 20
              </span>
            </div>
          </div>
        </div>

        <div class="col-sm-2" style="padding-left: 0">
          <div class="form-group">
            <div class="col-sm-12">
              <label for="serialNo" class="lb-sm">Serial No:</label>

              <input class="form-control"
                     #serialNo
                     type="text"
                     [attr.disabled]="isDisableBarcodeInput()?'':null"
                     id="serialNo"
                     (change)="onChangeSerialNo(storeSalesProductViewModel.barcode,$event)"
                     formControlName="serialNo"
                     autocomplete="off"
                     name="barcode"
                     [(ngModel)]="storeSalesProductViewModel.serialNo">
              <span *ngIf="entryForm.controls['serialNo'].hasError('maxlength') " class="custom-invalid-feedback">
                Maximum character for serial is 20
              </span>
            </div>
          </div>
        </div>

        <div class="col-sm-2" style="padding-left: 0">
          <div class="form-group required">
            <div class="col-sm-12">
              <label for="store" class="required-label lb-sm">Sale On:</label>
              <ng-select [items]="paymentMethodsList"
                         #saleOn
                         id="saleOn"
                         bindLabel="key"
                         bindValue="value"
                         (change)="onChangeSaleMethod($event)"
                         (clear)="onClearSaleMethod()"
                         [(ngModel)]="storeSalesProductViewModel.salesMethod"
                         [ngClass]="{'custom-invalid-ng-select': productAdded && entryForm.controls['saleOn'].hasError('required')}"
                         formControlName="saleOn"
                         placeholder="Select Sales Method">
              </ng-select>
              <div *ngIf="productAdded && entryForm.controls['saleOn'].hasError('required')"
                   class="custom-invalid-feedback">
                Select Sales Method
              </div>
            </div>
          </div>
        </div>


        <!--

        <div class="col-sm-2" style="padding-left: 0">
          <div class="form-group">
            <div class="col-sm-12">
              <label for="quantity" class="lb-sm">Quantity</label>

              <input class="form-control"
                     type="text"
                     id="quantity"
                     name="quantity"
                     disabled
                     autocomplete="off"
                     onkeypress="return (event.charCode > 31) && (event.charCode >= 48 && event.charCode <= 57)"
                     [(ngModel)]="storeInProductViewModel.price"
                     formControlName="quantity"
                     placeholder="">
            </div>
          </div>
        </div>

        -->

      </div>
      <div class="row" style="padding: 0; margin: 0">

        <!--<div class="col-sm-2" style="padding-left: 0">
          <div class="form-group required">
            <label for="mfDate" class="lb-sm">Manufacturing Date</label>
            <div class="input-group datepicker-input">
              <input type="text"
                     name="mfDate"
                     id="mfDate"
                     #mfDMY="bsDatepicker"
                     [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                     placeholder="Select a date"
                     [ngClass]="{ 'is-invalid': productAdded && entryForm.controls['mfDate'].hasError('required'), 'avoid-clicks': disableElementOnDetailsView }"
                     formControlName="mfDate"
                     [(ngModel)]="storeInProductViewModel.manufacturingDate"
                     class="form-control"
                     bsDatepicker>
              <button class="input-group-addon" (click)="mfDMY.toggle()" type="button">
                <span class="fa fa-calendar"></span>
              </button>
            </div>
            <div *ngIf="productAdded && entryForm.controls['mfDate'].hasError('required')"
                 class="custom-invalid-feedback">
              Select Manufacturing Date
            </div>
          </div>
        </div>

        <div class="col-sm-2" style="padding-left: 0">
          <div class="form-group required">
            <label for="expDate" class="lb-sm">Expiry Date</label>
            <div class="input-group datepicker-input">
              <input type="text"
                     name="expDate"
                     id="expDate"
                     [ngClass]="{ 'is-invalid': productAdded && entryForm.controls['expDate'].hasError('required'), 'avoid-clicks': disableElementOnDetailsView }"
                     #expDMY="bsDatepicker"
                     [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                     placeholder="Select a date"
                     formControlName="expDate"
                     [(ngModel)]="storeInProductViewModel.expirationDate"
                     class="form-control"
                     bsDatepicker>
              <button class="input-group-addon" (click)="expDMY.toggle()" type="button">
                <span class="fa fa-calendar"></span>
              </button>
              <div *ngIf="productAdded && entryForm.controls['expDate'].hasError('required')"
                   class="custom-invalid-feedback">
                Select Expiry Date
              </div>
            </div>
          </div>


        </div>

        <div class="col-sm-2" style="padding-left: 0">
          <div class="form-group required">
            <label for="entryDate" class="required-label lb-sm">Entry Date</label>
            <div class="input-group datepicker-input">
              <input type="text"
                     name="entryDate"
                     id="entryDate"
                     [ngClass]="{ 'is-invalid': productAdded && entryForm.controls['entryDate'].hasError('required'), 'avoid-clicks': disableElementOnDetailsView }"
                     #entryDMY="bsDatepicker"
                     [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                     placeholder="Select a date"
                     formControlName="entryDate"
                     [(ngModel)]="storeInProductViewModel.entryDate"
                     class="form-control"
                     bsDatepicker>
              <button class="input-group-addon" (click)="entryDMY.toggle()" type="button">
                <span class="fa fa-calendar"></span>
              </button>
              <div *ngIf="productAdded && entryForm.controls['entryDate'].hasError('required')"
                   class="custom-invalid-feedback">
                Select Entry Date
              </div>
            </div>
          </div>


        </div>
        -->


      </div>
    </div>

    <div class="card-footer">
      <button type="button"

              name="clearAll"
              id="btnAddProduct"
              (click)="onClickAddProduct()"
              class="btn btn-outline-success btn-sm pull-right">Add Product
      </button>

      <button type="button"
              name="btnClear"
              style="margin-right: 1%"
              id="btnClear"
              (click)="onClickClear()"
              class="btn btn-outline-danger btn-sm pull-right">Clear
      </button>
    </div>

  </div>

</form>

<div class="card" style="margin-top: 1%" [hidden]="isDisableBarcodeInput()">
  <form #dynamicForm="ngForm" novalidate autocomplete="off">

    <div class="card-header">
      <strong>Product List</strong>
    </div>
    <div class="card-body custom-scroll-x-y">
      <table datatable [dtOptions]="dataTableOptions" [dtTrigger]="dtTrigger"
             class="table-hover table table-sm table-striped table-bordered nowrap"
             style="width: 100%">
        <thead>
        <tr>
          <th style="width: 10%">Name</th>
          <th style="width: 10%">Category</th>
          <th style="width: 10%">Brand</th>
          <th style="width: 10%">Model No</th>
          <th style="width: 5%">Stock Qty</th>
          <th style="width: 5%">Buy Price</th>
          <th style="width: 5%">Sales Price</th>
          <th style="width: 5%">Sales Qty</th>
          <th style="width: 5%">Total</th>
          <th style="width: 5%">Serial No</th>
          <th style="width: 5%">Support Period</th>
          <th style="width: 5%">Action</th>
          <!-- <th style="width: 10%">Action</th>-->
        </tr>
        </thead>
        <tbody *ngIf="availableSalesProductViewModelList?.length != 0">
        <tr *ngFor="let product of availableSalesProductViewModelList; let i=index">
          <td>{{product.productName }}</td>
          <td>{{product.categoryName}}</td>
          <td>{{product.brandName }}</td>
          <td>{{product.modelNo }}</td>
          <td>{{product.available}}</td>
          <td>{{product.buyPrice }}</td>
          <td>
            <input class="form-control form-control-sm"
                   type="text"
                   maxlength="8"
                   pattern="^((?!(0))[0-9]{1,10})$"
                   (focusout)="onFocusOutSalesPriceRowEvent(i,product.salesPrice)"
                   onkeypress="return (event.charCode > 31) && (event.charCode >= 48 && event.charCode <= 57)"
                   #dynamicSalesPrice="ngModel"
                   required
                   autocomplete="off"
                   [ngClass]="{ 'is-invalid': dynamicSalesPrice.errors?.pattern}"
                   id="dynamicSalesPrice{{i}}"
                   name="salesPrice{{i}}"
                   [(ngModel)]="product.salesPrice">
          </td>

          <td>
            <input class="form-control form-control-sm"
                   type="text"
                   maxlength="8"
                   pattern="^((?!(0))[0-9]{1,10})$"
                   (focusout)="onFocusOutSalesQtyRowEvent(i,product.salesQty)"
                   onkeypress="return (event.charCode > 31) && (event.charCode >= 48 && event.charCode <= 57)"
                   #dynamicSalesQty="ngModel"
                   required
                   autocomplete="off"
                   [ngClass]="{ 'is-invalid': dynamicSalesQty.errors?.pattern}"
                   id="dynamicSalesQty{{i}}"
                   name="dynamicSalesQty{{i}}"
                   [(ngModel)]="product.salesQty">
          </td>

          <td>
            <input class="form-control form-control-sm"
                   type="text"
                   maxlength="8"
                   disabled
                   #dynamicTotalPrice="ngModel"
                   autocomplete="off"
                   [ngClass]="{ 'is-invalid': dynamicTotalPrice.errors?.pattern}"
                   id="dynamicTotalPrice{{i}}"
                   name="dynamicTotalPrice{{i}}"
                   [(ngModel)]="product.totalPrice">
          </td>

          <td>
            <input class="form-control form-control-sm"
                   type="text"
                   maxlength="20"
                   #dynamicSerialNo="ngModel"
                   autocomplete="off"
                   id="dynamicSerialNo{{i}}"
                   name="dynamicSerialNo{{i}}"
                   [(ngModel)]="product.serialNo">
          </td>

          <td>
            <input class="form-control form-control-sm"
                   type="text"
                   maxlength="2"
                   pattern="^((?!(0))[0-9]{1,10})$"
                   onkeypress="return (event.charCode > 31) && (event.charCode >= 48 && event.charCode <= 57)"
                   #dynamicSupportPeriod="ngModel"
                   autocomplete="off"
                   [ngClass]="{ 'is-invalid': dynamicSupportPeriod.errors?.pattern}"
                   id="dynamicSupportPeriod{{i}}"
                   name="dynamicSupportPeriod{{i}}"
                   [(ngModel)]="product.supportPeriodInMonth">
          </td>

          <td class="align-baseline">

            <div class="row" style="margin-right: 0px;">
              <div class="col-sm-4">
                <button
                  placement="top"
                  class="btn btn-sm btn-pill btn-outline-info"
                  type="button">
                  <i class="fa fa-pencil-square"></i>
                </button>
              </div>
              <div class="col-sm-6">
                <button
                  placement="top"
                  (click)="onClickRemoveRow(i)"
                  class="btn btn-sm btn-pill btn-outline-info"
                  type="button">
                  <i class="fa fa-minus-square"></i>
                </button>
              </div>
            </div>
          </td>


        </tr>
        </tbody>
        <tbody *ngIf="grandTotalSalesPrice!=0">
        <tr>
          <td colspan="10"></td>
          <td colspan="2">{{grandTotalSalesPrice}}</td>
        </tr>
        </tbody>

        <tbody *ngIf="availableSalesProductViewModelList?.length == 0">
        <tr>
          <td colspan="11" class="no-data-available">No data!</td>
        </tr>
        <tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-12">

          <button
                  type="button"
                  (click)="onClickConfirmSales()"
                  class="btn btn-sm btn-success pull-right">
            Confirm Sales
          </button>

          <button
                  type="button"
                  style="margin-right: 1%"
                  (click)="onClickReset()"
                  class="btn btn-sm btn-danger pull-right">
            Reset
          </button>

<!--
          <button type="button"
                  (click)="onClickCancel()"
                  class="btn btn-danger pull-right">
            Cancel
          </button>-->
        </div>

      </div>
    </div>
  </form>
</div>
