<div class="card">

  <div class="card-header">
    <strong>Search Invoice By Customer</strong>
  </div>

  <div class="card-body">

    <div class="row" style="padding: 0">

      <div class="col-sm-4" style="padding-left: 0">
        <div class="form-group required">
          <div class="col-sm-12">
            <label for="customer" class="required-label lb-sm">Customer:</label>
            <ng-select [items]="customerModelList"
                       #customer
                       id="customer"
                       (change)="onChangeCustomer($event)"
                       (clear)="onClearCustomer()"
                       name="customer"
                       bindLabel="name"
                       bindValue="id"
                       placeholder="Select Customer">
            </ng-select>

        </div>
      </div>

    </div>

     <!-- (change)="onChangeStore($event)"
      (clear)="onClearStore()"-->
<!--
    [(ngModel)]="productSalesViewModel.storeId"
    formControlName="store"
    -->


  </div>
  </div>

  <div class="card-footer">

  </div>

</div>







  <div class="card" style="margin-top: 1%">
    <div class="card-header">
      <strong>{{pageTitle}} List</strong>
    </div>
    <div class="card-body">
      <table datatable [dtOptions]="dataTableOptions" [dtTrigger]="dtTrigger"
             class="table-hover table table-sm table-striped table-bordered nowrap"
             style="width: 100%">
        <thead>
        <tr>
          <th style="width: 10%">Customer Name</th>
          <th style="width: 20%">Invoice No</th>
          <th style="width: 10%">Total</th>
          <th style="width: 10%">Discount</th>
          <th style="width: 10%">Status</th>
          <th style="width: 10%">Date</th>
          <th style="width: 10%">Action</th>
        </tr>
        </thead>
        <tbody *ngIf="invoiceHistoryList?.length != 0">
        <tr *ngFor="let item of invoiceHistoryList">
          <!-- <td>{{ category.id }}</td>-->
          <td>{{item.customerName}}</td>
          <td>{{item.invoiceNo }}</td>
          <td>{{item.invoiceAmount}}</td>
          <td>{{item.discountAmount}}</td>
          <td>{{item.invoiceStatus}}</td>
          <td>{{item.date | date: 'dd/MM/yyyy'}}</td>
          <td>
            <!--(click)="onClickEdit(item.id)"-->
            <button type="button"
                    (click)="onClickSalesDetails(item.invoiceNo);salesHistoryListModal.open();"
                    class="btn btn-secondary"
                    style="margin-left: 1%">
              Sales Details
            </button>

            <!--(click)="onClickDetails(item.id)"-->
            <button type="button"
                    (click)="onClickPaymentHistory(item.invoiceNo);customerDuePaymentHistoryListModal.open()"
                    class="btn btn-info"  style="margin-left: 1%">
              Payment History
            </button>

            <!--(click)="onClickDelete(item.id)"-->
           <!-- <button type="button" class="btn btn-danger"  style="margin-left: 1%">
              Delete
            </button>-->

          </td>



        </tr>
        </tbody>
        <tbody *ngIf="invoiceHistoryList?.length == 0">
        <tr>
          <td colspan="7" class="no-data-available">No data!</td>
        </tr>
        <tbody>
      </table>


    </div>
    <div class="">

    </div>
  </div>



<ngx-smart-modal #salesHistoryListModal [closable]="false"
                 identifier="salesHistoryListModal"
                 [dismissable]="false"
                 customClass="nsm-dialog-animation-fade nsm-centered">
  <p>
    <sales-history-list></sales-history-list>
  </p>
  <button class="button -dark"
          (click)="salesHistoryListModal.close()">Close</button>
</ngx-smart-modal>

<ngx-smart-modal #customerDuePaymentHistoryListModal [closable]="false"
                 identifier="customerDuePaymentHistoryListModal"
                 [dismissable]="false"
                 customClass="nsm-dialog-animation-fade nsm-centered">
  <p>
    <customer-due-payment-history-list></customer-due-payment-history-list>
  </p>
  <button class="button -dark"
          (click)="customerDuePaymentHistoryListModal.close()">Close</button>
</ngx-smart-modal>
