<form id="collapseInputForm">

  <div class="card" style="padding: 0">

    <div class="card-header">

      Available Stock
     <!-- <div *ngIf="!productAdded">
        Select Product
      </div>

      <div *ngIf="productAdded">
        Selected Product:  <strong>{{storeInProductViewModel.productName}}</strong>
      </div>-->

    </div>
    <div class="card-body">
      <div class="row" style="padding: 0">

        <div class="col-sm-4" style="padding-left: 0">
          <div class="form-group">
            <div class="col-sm-12">
              <label for="store" class="lb-sm">Store:</label>
              <ng-select [items]="storeModelList"
                         #store
                         id="store"
                         name="store"
                         bindLabel="name"
                         bindValue="id"
                         (change)="onChangeStore(stockViewModel.storeId)"
                         (clear)="onClearStore()"
                         [(ngModel)]="stockViewModel.storeId"
                         placeholder="Select Store">
              </ng-select>
            </div>
          </div>
        </div>

        <div class="col-sm-3" style="padding-left: 0">
          <div class="form-group">
            <div class="col-sm-12">
              <label for="category" class="lb-sm">Category:</label>
              <ng-select [items]="categoryModelList"
                         #category
                         id="category"
                         name="category"
                         bindLabel="name"
                         bindValue="id"
                         (change)="onChangeCategory(stockViewModel.categoryId)"
                         (clear)="onClearCategory()"
                         [(ngModel)]="stockViewModel.categoryId"
                         placeholder="Select Category">
              </ng-select>
            </div>
          </div>
        </div>

       <!-- [(ngModel)]="productSalesReportViewModel.fromDate"-->
        <div class="col-sm-2" style="padding-left: 0">
          <div class="form-group">
            <div class="col-sm-12">
              <label for="fromDate" class="lb-sm">From Date:</label>
              <div class="input-group datepicker-input">
                <input type="text"
                       name="fromDate"
                       id="fromDate"
                       #fromDate="bsDatepicker"
                       [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                       placeholder="Select a date"
                       [(ngModel)]="stockViewModel.fromDate"
                       class="form-control lb-sm"
                       bsDatepicker>
                <button class="input-group-addon" (click)="fromDate.toggle()" type="button">
                  <span class="fa fa-calendar"></span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <!--[(ngModel)]="productSalesReportViewModel.toDate"-->

        <div class="col-sm-3" style="padding-left: 0">
          <div class="form-group">
            <div class="col-sm-12">
              <label for="toDate" class="lb-sm">To Date:</label>
              <div class="input-group datepicker-input">
                <input type="text"
                       name="toDate"
                       id="toDate"
                       #toDate="bsDatepicker"
                       [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                       placeholder="Select to date"
                       [(ngModel)]="stockViewModel.toDate"
                       class="form-control"
                       bsDatepicker>
                <button class="input-group-addon" (click)="toDate.toggle()" type="button">
                  <span class="fa fa-calendar"></span>
                </button>
                <button type="button"
                        style="margin-left: 1%"
                        name="btnSearch"
                        id="btnSearch"
                        (click)="onClickSearch()"
                        class="btn btn-outline-success btn-sm pull-right">Search
                </button>
              </div>
            </div>
          </div>
        </div>


        <!--<div class="col-sm-4" style="padding-left: 0">
          <div class="form-group">
            <div class="col-sm-12">
              <label for="product" class="lb-sm">Product:</label>
              <ng-select [items]="productModelList"
                         #product
                         id="product"
                         name="product"
                         bindLabel="name"
                         bindValue="id"
                         (change)="onChangeProduct(stockViewModel.productId)"
                         (clear)="onClearProduct()"
                         [(ngModel)]="stockViewModel.productId"
                         placeholder="Select Product">
              </ng-select>
            </div>
          </div>
        </div>-->



      </div>
    </div>

    <div class="card-footer">
      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
          <div class="row">
              <div class="col-sm-6 text-xl-right">
                <h5 class="card-title">Total Stock Price: </h5>
              </div>

              <div class="col-sm-6">
              <input type="text"
                     disabled
                     name="stockProductPrice"
                     [ngModel]="stockViewModel.totalStockProductPrice"
                     class="form-control"
                     id="stockProductPrice">
              </div>
          </div>
        </div>
      </div>
      <!--<div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">

        </div>
      </div>-->
    </div>

  </div>

</form>

<div class="card" style="margin-top: 1%" *ngIf="availableStockModelList?.length == 0">
    <div class="card-body">
      <div class="header">
        <strong>No Product available in stock!!!</strong>
      </div>
    </div>
</div>

<div>


  <div class="card" style="margin-top: 1%">
    <div class="card-header">
      <strong>{{pageTitle}} List</strong>
    </div>
    <div class="card-body">
      <table datatable [dtOptions]="dataTableOptions" [dtTrigger]="dtTrigger"
             class="table-hover table table-sm table-striped table-bordered nowrap"
             style="width: 100%">
        <thead>
        <tr>
          <th style="width: 10%">Category</th>
          <th style="width: 10%">Product Name</th>
          <th style="width: 10%">Model No</th>
          <th style="width: 30%">Available Qty</th>
          <th style="width: 20%">Total Price</th>
          <th style="width: 10%">Action</th>
        </tr>
        </thead>
        <tbody *ngIf="availableStockModelList?.length != 0">
        <tr *ngFor="let item of availableStockModelList">
          <!-- <td>{{ category.id }}</td>-->
          <td>{{item.categoryName}}</td>
          <td>{{item.productName}}</td>
          <td>{{item.modelNo}}</td>
          <td>{{item.availableQty}}</td>
          <td>{{item.totalPrice}}</td>
          <td>
            <!--(click)="onClickEdit(item.id)"-->
            <button type="button" class="btn btn-secondary"  style="margin-left: 1%">
              Edit
            </button>

            <!--(click)="onClickDetails(item.id)"-->
            <button type="button" class="btn btn-info"  style="margin-left: 1%">
              Details
            </button>

            <!--(click)="onClickDelete(item.id)"-->
            <button type="button" class="btn btn-danger"  style="margin-left: 1%">
              Delete
            </button>

          </td>


        </tr>
        </tbody>
        <tbody *ngIf="availableStockModelList?.length == 0">
        <tr>
          <td colspan="6" class="no-data-available">No data!</td>
        </tr>
        <tbody>
      </table>


    </div>
    <div class="">

    </div>
  </div>

</div>
