<div style="margin: 0%">
  <form id="collapseProductForm" name="productForm">

    <div class="col-sm-6">

      <div class="card">

        <div class="card-header text-center">
          <strong>Product</strong>
        </div>


        <div class="card-body">

          <div class="form-group row">
            <label for="name" class="col-sm-4">Name:</label>
            <div class="col-sm-6">
              <input
                id="name"
                class="form-control"
                name="name"
                [attr.disabled]="disableElementOnDetailsView?'':null"
                type="text"
                [(ngModel)]="productModel.name">
            </div>
          </div>

          <div class="form-group row">
            <label for="categoryList" class="col-sm-4">Category:</label>
            <div class="col-sm-6">
              <ng-select [items]="categoryModelList"
                         id="categoryList"
                         bindLabel="name"
                         name="categoryList"
                         [(ngModel)]="productModel.categoryId"
                         bindValue="id"
                         placeholder="Select category">
              </ng-select>
            </div>
          </div>

          <div class="form-group row">
            <label for="brand" class="col-sm-4">Brand:</label>
            <div class="col-sm-6">
              <input
                id="brand"
                class="form-control"
                name="brand"
                [attr.disabled]="disableElementOnDetailsView?'':null"
                type="text"
                [(ngModel)]="productModel.brand">
            </div>
          </div>

          <div class="form-group row">
            <label for="modelNo" class="col-sm-4">Model No:</label>
            <div class="col-sm-6">
              <input
                id="modelNo"
                class="form-control"
                name="name"
                [attr.disabled]="disableElementOnDetailsView?'':null"
                type="text"
                [(ngModel)]="productModel.modelNo">
            </div>
          </div>

          <div class="form-group row">
            <label for="serialNo" class="col-sm-4">Serial No:</label>
            <div class="col-sm-6">
              <input
                id="serialNo"
                class="form-control"
                name="serialNo"
                [attr.disabled]="disableElementOnDetailsView?'':null"
                type="text"
                [(ngModel)]="productModel.serialNo">
            </div>
          </div>


          <div class="form-group row">
            <label for="price" class="col-sm-4">Price:</label>
            <div class="col-sm-6">
              <input
                id="price"
                class="form-control"
                name="price"
                [attr.disabled]="disableElementOnDetailsView?'':null"
                type="number"
                [(ngModel)]="productModel.price">
            </div>
          </div>

          <div class="form-group row">
            <label for="description" class="col-sm-4">Description:</label>
            <div class="col-sm-6">
              <textarea
                id="description"
                class="form-control"
                name="description"
                [attr.disabled]="disableElementOnDetailsView?'':null"
                type="text"
                [(ngModel)]="productModel.description">
              </textarea>
            </div>
          </div>


          <div class="form-group row">
            <label for="barcode" class="col-sm-4">Barcode:</label>
            <div class="col-sm-6">
              <input
                id="barcode"
                class="form-control"
                name="barcode"
                [attr.disabled]="disableElementOnDetailsView?'':null"
                type="text"
                [(ngModel)]="productModel.barcode">
            </div>
          </div>

          <div class="form-group row">
            <label for="image" class="col-sm-4">Image:</label>
            <div class="col-sm-6">
              <!--<label for="exampleFormControlFile1">Example file input</label>-->
              <input type="file" class="form-control-file" id="image"
                     (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg, .pdf">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-6">
              <!--<img [src]="'data:image/png;base64,'+productModel.image" height="200" width="200">-->
              <img *ngFor="let item of base64textString" height="200" src={{item}} alt="" id="img">
              <br>
              <button *ngIf="base64textString.length>0" type="button" (click)="onClickClear()">Clear</button>
            </div>
          </div>

          <!--<div class="col-sm-6" style="padding-left: 0%;">-->
          <!--  <div class="form-group">
              <label for="image">Image</label>
              <input type="file" id="image" (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg, .pdf"/>
            </div>-->
          <!-- <br/>-->
          <!-- <input type="file" (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg, .pdf"/>
           <img *ngFor="let item of base64textString" height="200" src={{item}} alt="" id="img">-->
          <!--  </div>-->
        </div>


        <div class="card-footer">
          <div class="row">
            <div class="col-sm-12">

              <button *ngIf="!disableElementOnDetailsView"
                      type="submit"
                      (click)="onClickSave()"
                      class="btn btn-success">
                {{isPageUpdateState==true?'Update ':'Save '}}
              </button>

           <!--

              <button *ngIf="!disableElementOnDetailsView"
                      type="button"
                      (click)="onClickGetImage()"
                      class="btn btn-success">
                Get Image
              </button>

              -->


              <button *ngIf="!disableElementOnDetailsView"
                      type="button"
                      style="margin-left: 1%"
                      (click)="onClickReset()"
                      class="btn btn-danger">
                Reset
              </button>


              <button type="button"
                      (click)="onClickCancel()"
                      class="btn btn-danger pull-right">
                Cancel
              </button>
            </div>

          </div>
        </div>
        <!--

                <ng-select [items]="photosBuffer"
                           [virtualScroll]="true"
                           [loading]="loading"
                           bindLabel="title"
                           bindValue="thumbnailUrl"
                           placeholder="Select photo"
                           (scroll)="onScroll($event)"
                           (scrollToEnd)="onScrollToEnd()"
                           (search)="onSearch($event)">


                </ng-select>
        -->


        <!-- <ng-template ng-header-tmp>
           <small class="form-text text-muted">Loaded {{photosBuffer.length}} of {{photos.length}}</small>
         </ng-template>
         <ng-template ng-option-tmp let-item="item" let-index="index">
           <b>{{index}}</b> {{item.title}}
         </ng-template>-->


      </div>
    </div>
  </form>
</div>

<div class="">

  <div class="card" style="margin-top: 1%">
    <div class="card-header">
      <strong>Category List</strong>
    </div>
    <div class="card-body">
      <table datatable [dtOptions]="dtOptions" class="table-hover table table-sm table-striped table-bordered nowrap"
             style="width: 100%">
        <thead>
        <tr>
          <!-- <th>ID</th>-->
          <th style="width: 10%">Name</th>
          <th style="width: 10%">Category</th>
          <th style="width: 10%">Brand</th>
          <th style="width: 15%">Model No</th>
          <th style="width: 15%">Serial No</th>
          <th style="width: 10%">Price</th>
          <th style="width: 7%">Image</th>
          <th style="width: 10%">Action</th>
        </tr>
        </thead>
        <tbody *ngIf="productModelList?.length != 0">
        <tr *ngFor="let product of productModelList">
          <td>{{product.name }}</td>
          <td>{{product.categoryName}}</td>
          <td>{{product.brand }}</td>
          <td>{{product.modelNo }}</td>
          <td>{{product.serialNo }}</td>
          <td>{{product.price }}</td>
          <td class="ellipsis">
            <img [src]="product.image" height="50" width="100">
          </td>
          <td>
            <button type="button" class="btn btn-secondary" (click)="onClickEdit(category.id)" style="margin-left: 1%">
              Edit
            </button>

            <button type="button" class="btn btn-info" (click)="onClickDetails(category.id)" style="margin-left: 1%">
              Details
            </button>

            <button type="button" class="btn btn-danger" (click)="onClickDelete(category.id)" style="margin-left: 1%">
              Delete
            </button>

          </td>


        </tr>
        </tbody>
        <tbody *ngIf="category?.length == 0">
        <tr>
          <td colspan="3" class="no-data-available">No data!</td>
        </tr>
        <tbody>
      </table>


    </div>
  </div>

</div>



