<div class="row">
  <div class="col-sm-6 pull-right">
    <div class="card">
      <div class="card-header">

      </div>
      <div class="card-body">


        <form id="collapseCategoryForm">
          <div class="col-sm-6" style="padding-left: 0%;">
            <div class="card">
              <div class="card-header text-center">
                <strong>Product</strong>
              </div>
              <div class="card-body">

                <div class="form-group">
                  <label for="exampleFormControlFile1">Example file input</label>
                  <input type="file" class="form-control-file" (change)="onUploadChange($event)" id="exampleFormControlFile1">
                </div>


                <img [src]="'data:image/png;base64,'+productModel.image" height="200"> <br/>
                <input type="file" (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg, .pdf" />
                <img *ngFor="let item of base64textString"  height="200" src={{item}} alt="" id="img">


                <!--


                <div class="form-group row">
                  <label for="name" class="col-sm-4">Name:</label>
                  <div class="col-sm-8">
                    <input
                      id="name"
                      class="form-control"
                      name="name"
                      [attr.disabled]="disableElementOnDetailsView?'':null"
                      type="text"
                      [(ngModel)]="categoryModel.name"
                      formControlName="name"
                      [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                  </div>
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Category name required</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="description" class="col-sm-4">Description:</label>
                  <div class="col-sm-8">
              <textarea
                name="description"
                [attr.disabled]="disableElementOnDetailsView?'':null"
                [(ngModel)]="categoryModel.description"
                formControlName="description"
                class="form-control rounded-0"
                id="description"></textarea>
                  </div>
                </div>

                -->


              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-sm-12">

                    <button *ngIf="!disableElementOnDetailsView"
                            type="submit"
                            (click)="onClickSave()"
                            class="btn btn-success">
                      {{isPageUpdateState==true?'Update ':'Save '}}
                    </button>

                    <button *ngIf="!disableElementOnDetailsView"
                            type="button"
                            (click)="getImage()"
                            class="btn btn-success">
                      Get Image
                    </button>



                    <button *ngIf="!disableElementOnDetailsView"
                            type="button"
                            style="margin-left: 1%"
                            (click)="onClickReset()"
                            class="btn btn-danger">
                      Reset
                    </button>



                    <button type="button"
                            (click)="onClickCancel()"
                            class="btn btn-danger pull-right">
                      Cancel
                    </button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </form>

<!--

        <ng-select [items]="photosBuffer"
                   [virtualScroll]="true"
                   [loading]="loading"
                   bindLabel="title"
                   bindValue="thumbnailUrl"
                   placeholder="Select photo"
                   (scroll)="onScroll($event)"
                   (scrollToEnd)="onScrollToEnd()"
                   (search)="onSearch($event)">


        </ng-select>
-->



        <!-- <ng-template ng-header-tmp>
           <small class="form-text text-muted">Loaded {{photosBuffer.length}} of {{photos.length}}</small>
         </ng-template>
         <ng-template ng-option-tmp let-item="item" let-index="index">
           <b>{{index}}</b> {{item.title}}
         </ng-template>-->


      </div>
      <div class="card-footer"></div>
    </div>

  </div>
</div>

<div>

  <div class="card-body">

  </div>


</div>
